.DS_Store
# Dist is out of the repository but it must be provided in the final work!
dist/
bin/
out/
# Doc is out of the repository but it must be provided in the final work!
doc/
.idea/
src/LexicalAnalyzer.java
src/LexicalAnalyzer.java~
INFO-F403.iml
